@model MainSite.Models.MyAircrafts.AdBuilderModel

@{
    ViewBag.Title = "Create Your Aircraft For Sale Ad - GlobalAir.com";
    ViewBag.description = "Use our aircraft for sale ad builder to create an appealing ad for maximum exposure!";
    ViewBag.keywords = "create aircraft for sale ad, create ad to sell my aircraft";
    ViewBag.robots = "noindex, nofollow";
    <meta property="og:site_name" content="GlobalAir.com" /> ;
    <meta property="og:type" content="Website" /> ;
    <meta property="og:url" content="https://www.globalair.com/MyAircraft/BuildAd" /> ;
    <meta property="og:title" content="Create Your Aircraft For Sale Ad - GlobalAir.com" /> ;
    <meta property="og:description" content="Use our aircraft for sale ad builder to create an appealing ad for maximum exposure!" /> ;
    <meta property="og:image" content="https://resources.globalair.com/images/Feature-img.jpg" /> ;
    <meta property="og:image:type" content="image/jpg" /> ;
    <meta property="og:image:width" content="500" />;
    <meta property="twitter:title" content="Create Your Aircraft For Sale Ad - GlobalAir.com" />;
    <meta property="twitter:card" content="summary" />;
    <meta property="twitter:description" content="Use our aircraft for sale ad builder to create an appealing ad for maximum exposure!" /> ;
    <meta property="twitter:image" content="https://resources.globalair.com/images/Feature-img.jpg" /> ;
    <meta property="twitter:url" content="https://www.globalair.com/MyAircraft/BuildAd" /> ;
    Layout = "~/Views/Shared/_LayoutAfs.cshtml";
}

@section header{
    @Styles.Render("~/Content/Design")
}

    <div class="wrap newPage onWhite stepForm">

        <div class="contentWrap">
        
            <section class="stepsBar">
                <nav class="steps">
                    <ul>
                        <li>
                            <span class="active">About You</span>
                        </li>
                        <li>
                            <span>Aircraft Ad Info</span>
                        </li>
                        <li>
                            <span>Aircraft Details</span>
                        </li>
                        <li>
                            <span>Images &amp; Specs</span>
                        </li>
                        <li>
                            <span>Create Your Account</span>
                        </li>
                    </ul>
                </nav>
            </section>

            <section class="innerContent">
                <article id="contentBlockOne">
                    <!-- If FREE Ad -->
                    <div class="freeAd alert">This is your FREE Ad!</div>
                    <!-- If FREE Ad -->

                        <section id="stepOne" class="step">    
                            <article class="stepContent">
                                <fieldset id="registrationOne">
                                    <header>
                                        <legend><h1>Your Name, Airport &amp; City</h1></legend>
                                    </header>
                                    <div class="threeCol">
                                        <p><label for="firstname" id="lblFirstName">What's your name?</label><span><a value="signIn" data-toggle="modal" data-target="#myModal">Log In</a></span></p>
                                        <input type="text" name="firstname" value="firstName" id="tbFirstName" placeholder="First Name" required />
                                        <label for="lastname" id="lblLastName"></label>
                                        <input type="text" name="lastname" value="lastName" id="tbLastName" placeholder="Last Name" required />
                                    </div>
                                    <div class="threeCol">
                                        <p><label for="homeairport" id="lblHomeAirport"><span>What is your home airport and city?</span></label></p>
                                        <input type="text" name="homeairport" value="homeAirport" id="tbHomeAirport" placeholder="Airport" required />
                                        <label for="city" id="lblCity"></label>
                                        <input type="text" name="city" value="city" id="tbCity" placeholder="City" required />
                                    </div>
                                    <div class="threeCol">
                                        <p><label for="company">Are you a broker?</label></p>
                                        <input type="text" name="company" value="company" id="tbCompany" placeholder="Company Name" />
                                    </div>
                                    <div class="twoCol">
                                        <p><label for="pilot">Are you a pilot?</label></p>
                                        <div>
                                            <input type="checkbox" name="pilot" value="yes" id="tbIsPilot" /><span>Yes</span>
                                            <input type="checkbox" name="pilot" value="no" id="tbNotPilot" /><span>No</span>
                                        </div>
                                        <div class="fieldOptions show">
                                            <p class="title">What do you do?</p>
                                            <div>
                                                <label for="pilottype"><span>Pilot Type</span></label>
                                                <select name="pilottype">
                                                    <option disabled>Select</option>
                                                    <option Value="8">FBO</option>
                                                    <option Value="9">Dispatcher/Scheduler</option>
                                                    <opition Value="2">CFI</opition>
                                                    <option Value="3">Commercial</option>
                                                    <option Value="4">Private</option>
                                                    <option Value="5">Recreational</option>
                                                    <option Value="6">Sport</option>
                                                    <option Value="7">Student</option>
                                                </select>
                                            </div>
                                            <div>
                                                <label for="owner"><span>Owner</span></label>
                                                <select name="owner">
                                                    <option disabled>Select</option>
                                                    <option Value="8">Yes</option>
                                                    <option Value="9">No</option>
                                                </select>
                                            </div>
                                            <div>
                                                <label for="rating"><span>Rating</span></label>
                                                <select name="rating">
                                                    <option disabled>Select</option>
                                                    <option Value="8">ATP</option>
                                                    <option Value="9">Commercial</option>
                                                    <option Value="9">Private</option>
                                                    <option Value="9">Recreational</option>
                                                </select>
                                            </div>
                                        </div><!-- ./fieldOptions -->
                                        <div class="fieldOptions">
                                            <label for="profession"><span>What do you do?</span></label>
                                            <select name="profession">
                                                <option disabled>Select</option>
                                                <option Value="8">CEO</option>
                                                <option Value="9">Undeclared</option>
                                            </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="button next" id="stepOneSubmit" value="registrationOne">Ad Info</button>
                                </fieldset>
                            </article>
                        </section><!-- ./stepOne -->

                    <section id="stepTwo" class="step">
                        <article class="stepContent">
                            <fieldset id="adBuildOne">
                                <header>
                                    <p class="title intro">Ok [firstname], let's create your ad!</p>
                                    <legend><h2>Your Aircraft Ad Information</h2></legend>
                                </header> 
                                <div class="threeCol">
                                    <p><label for="classification"><span>What classification is your aircraft?</span></label></p>
                                    <select name="classification" id="ddlClassification">
                                        <option disabled>Select Classification</option>
                                        <option Value="Singles">Single Engine Pistons</option>
                                        <option Value="Single Engine Turbine">Single Engine Turbines</option>
                                        <option Value="Twin Pistons">Twin Pistons</option>
                                        <option Value="Twin Turbines">Twin Turbines</option>
                                        <option Value="Jets">Jets</option>
                                        <option Value="Warbirds">Warbirds</option>
                                        <option Value="Helicopter">Helicopters</option>
                                        <option Value="Commercial">Commercial</option>
                                        <option Value="Vintage">Vintage</option>
                                        <option Value="Experimental/Kits">Experimental/Kits</option>
                                        <option Value="Amphibian">Amphibian</option>
                                    </select>
                                    <p><label for="manufacturer"><span>Who is the manufacturer?</span></label></p>
                                    <select name="manufacturer" id="ddlManufacturer" onChange="return getModels();">
                                        <option disabled>Select Manufacturer</option>
                                    </select>
                                    <p><label for="model"><span>Who is the aircraft model?</span></label></p>
                                    <select name="model" id="ddlModel" onChange="return getDesignations();">
                                        <option disabled>Select Model</option>
                                    </select>
                                    <p><label for="designation"><span>What is the aircraft designation?</span></label></p>
                                    <select name="designation" id="ddlDesignation" onChange="return saveAircraftType();">
                                        <option disabled>Select Designation</option>
                                    </select>
                                    <input type="hidden" id="tbHiddenClassification" Visible="true" runat="server"></input>
                                    <input type="hidden" id="tbHiddenManufacturer" Visible="true" runat="server"></input>
                                    <input type="hidden" id="tbHiddenModel" Visible="true" runat="server"></input>
                                    <input type="hidden" id="tbHiddenDesignation" Visible="true" runat="server"></input>
                                </div>
                                <div class="threeCol">
                                    <p><label for="commontitle"><span>What is the common aircraft title?</span></label></p>
                                    <input type="text" name="commontitle" value="commonTitle" placeholder="2002 Falcon 900EX" />
                                    <p><label for="location"><span>Where is your aircraft located?</span></label></p>
                                    <select name="location" id="ddlLocation">
                                        <option disabled>Select Location</option>
                                        <option Value="Singles">SDF</option>
                                    </select>
                                    <p><label for="totaltime"><span>What is the Total Time?</span></label></p>
                                    <input type="text" name="totaltime" value="totalTime" placeholder="Total Time" />
                                    <p><label for="price"><span>What is the asking price?</span></label></p>
                                    <input type="text" name="price" value="totalTime" placeholder="$150,000" />
                                    <p><label for="serialnumber"><span>What is the serial number?</span></label></p>
                                    <input type="text" name="serialnumber" value="serialNumber" placeholder="51-11012" />
                                </div>
                                <div class="threeCol">
                                    <p><label for="registrationnumber"><span>What is the registration number?</span></label></p>
                                    <input type="text" name="registrationnumber" value="regisrationNumber" placeholder="G-KELS" />
                                    <p><label for="teasertext"><span>What would you like to brag about?</span></label></p>
                                    <input type="textbox" name="teasertext" value="teasetText" maxlength="50" placeholder="Teaser text<br/>Pick the best feature of your aircraft" />
                                    <sub>* 50 Characters Max</sub>
                                </div>
                                <button type="button" class="button goBack" id="stepOneEdit" value="previous">Previous Page</button>
                                <button type="submit" class="button next" id="stepTwoSubmit" value="aircraftInfo">Aircraft Details</button>
                            </fieldset>
                        </article>
                    </section><!-- ./stepTwo -->

                    <section id="stepThree" class="step">
                        <article class="stepContent">
                            <fieldset id="adBuildTwo">
                                <header>
                                    <legend><h3>Add Your Aircraft Details</h3></legend>
                                </header>
                                <div class="twoCol">
                                    <!-- ./If CSB Ad, show only this textbox -->
                                    <p><label for="summary"><span>Short Summary</span></label></p>
                                    <input type="textbox" name="summary" value="aircraftSummary" maxlength="500" placeholder="Summary of your aircraft" />
                                    <sub>* 500 Characters Left</sub>
                                    <!-- ./If CSB Ad, show only this textbox -->
                                </div>
                                <div class="twoCol">
                                    <p><label for="airframedetails"><span>Airframe Details</span></label></p>
                                    <input type="textbox" name="airframedetails" value="airframeDetails" maxlength="500" placeholder="Add your airframe details" />
                                    <sub>* 500 Characters Left</sub>
                                </div>
                                <div class="twoCol">
                                    <p><label for="enginedetails"><span>Engine Details</span></label></p>
                                    <input type="textbox" name="enginedetails" value="engineDetails" maxlength="500" placeholder="Add your engine details" />
                                    <sub>* 500 Characters Left</sub>
                                </div>
                                <div class="twoCol">
                                    <!-- ./If Piston or Turbo Prop Ad, show this textbox -->
                                    <p><label for="apudetails"><span>APU Details</span></label></p>
                                    <input type="textbox" name="apudetails" value="apuDetails" maxlength="500" placeholder="Add your APU details" />
                                    <sub>* 500 Characters Left</sub>
                                    <!-- ./If Piston or Turbo Prop Ad, show this textbox -->
                                </div>
                                <div class="twoCol">
                                    <p><label for="propellerdetails"><span>Propeller Details</span></label></p>
                                    <input type="textbox" name="propellerdetails" value="propellerDetails" maxlength="500" placeholder="Add your propeller details" />
                                    <sub>* 500 Characters Left</sub>
                                </div>
                                <div class="twoCol">
                                    <p><label for="maintenancedetails"><span>Maintenance Details</span></label></p>
                                    <input type="textbox" name="maintenancedetails" value="maintenanceDetails" maxlength="500" placeholder="Add your maintenance details" />
                                    <sub>* 500 Characters Left</sub>
                                </div>
                                    <div class="twoCol">
                                        <p><label for="paintdate"><span>Month/Year Painted</span></label></p>
                                        <select name="paindate">
                                            <option name="month" value="Month" disabled>Month</option>
                                            <option name="jan" value="January">January</option>
                                            <option name="feb" value="February">February</option>
                                        </select>
                                        <select name="paindate">
                                            <option name="year" value="Year" disabled>Year</option>
                                            <option name="2017" value="2017">2017</option>
                                            <option name="2016" value="2016">2016</option>
                                        </select>
                                        <p><label for="exteriordetails"><span>Exterior Details</span></label></p>
                                        <input type="textbox" name="exteriordetails" value="exteriorDetails" maxlength="500" placeholder="Add your exterior details" />
                                        <sub>* 500 Characters Left</sub>
                                    </div>
                                    <div class="twoCol">
                                        <p><label for="interiordate"><span>Month/Year Interior</span></label></p>
                                        <select name="interiordate">
                                            <option name="month" value="Month" disabled>Month</option>
                                            <option name="jan" value="January">January</option>
                                            <option name="feb" value="February">February</option>
                                        </select>
                                        <select name="interiordate">
                                            <option name="year" value="Year" disabled>Year</option>
                                            <option name="2017" value="2017">2017</option>
                                            <option name="2016" value="2016">2016</option>
                                        </select>
                                        <p><label for="interiordetails"><span>Interior Details</span></label></p>
                                        <input type="textbox" name="interiordetails" value="interiorDetails" maxlength="500" placeholder="Add your interior details" />
                                        <sub>* 500 Characters Left</sub>
                                    </div>
                                <div class="twoCol">
                                    <p><label for="avionicspackage"><span>Avionics Package</span></label></p>
                                    <input type="text" name="avionicspackage" value="avionicsPackage" maxlength="500" placeholder="Skyview Display" />
                                    <p><label for="avionicsdetails"><span>Avionics Details</span></label></p>
                                    <input type="textbox" name="avionicsdetails" value="avionicsDetails" maxlength="500" placeholder="Add your maintenance details" />
                                    <sub>* 500 Characters Left</sub>
                                </div>
                                <div class="twoCol">
                                    <p><label for="additionaldetails"><span>Additional Details</span></label></p>
                                    <input type="textbox" name="additionaldetails" value="additionalDetails" maxlength="500" placeholder="Add any additional details that you'd like your buyers to know about'" />
                                    <sub>* 500 Characters Left</sub>
                                </div>
                                <button type="button" class="button goBack" id="stepTwoEdit" value="previous">Previous Page</button>
                                <button type="submit" class="button next" id="stepThreeSubmit" value="aircraftDetails">Upload Images</button>
                            </fieldset>
                        </article>
                    </section><!-- ./stepThree -->

                    <section id="stepFour" class="step">
                        <article class="stepContent">
                            <fieldset id="adBuildThree">
                                <header>
                                    <legend><h4>Add Images Showing Off Your Aircraft</h4></legend>
                                </header>
                                <p class="alert"><sup>*</sup>One image must be made primary or the first one uploaded will be chosen</p>
                                <div class="mediaUpload twoCol">
                                    <p><label for="uplogo"><span>Upload Your Logo</span></label></p>
                                    <input type="file" name="uplogo" value="upLogo" placeholder="Choose File" onchange="fileSelected();" />
                                    <div id="dropArea" ondrop="drop(event)" ondragover="allowDrop(event)"><p>or Drag &amp; Drop Here</p></div>
                                    <div id="droppedThumbs">
                                        <!-- if Dropped Image -->
                                        <img src="[droppedImage]" alt="[imageName]" width="150px" height="75px" />
                                        <!-- if Dropped Image -->
                                        <!-- if NO Dropped Image -->
                                        <img src="[placeholderThumb]" alt="placeholder" width="75px" height="75px" />
                                        <!-- if NO Dropped Image -->
                                    </div>
                                </div>
                                <sub>* 5MB Limit Per Image</sub>
                                <div class="mediaUpload twoCol">
                                    <p><label for="upexterior"><span>Upload Your Exterior Images</span></label></p>
                                    <input type="file" name="upexterior" value="upExterior" placeholder="Choose File" onchange="fileSelected();" />
                                    <div id="dropArea" ondrop="drop(event)" ondragover="allowDrop(event)"><p>or Drag &amp; Drop Here</p></div>
                                    <div id="droppedThumbs">
                                        <!-- if Dropped Image -->
                                        <figure>
                                            <img src="[droppedImage]" alt="[imageName]" width="75px" height="75px" />
                                            <figcaption id="primaryImage" class="primary">Primary</figcaption>
                                        </figure>
                                        <figure>
                                            <img src="[droppedImage]" alt="[imageName]" width="75px" height="75px" />
                                            <figcaption class="primaryOpt">Make Primary</figcaption>
                                        </figure>
                                        <!-- if Dropped Image -->
                                        <!-- if NO Dropped Image -->
                                        <img src="[placeholderThumb]" alt="placeholder" width="75px" height="75px" />
                                        <!-- if NO Dropped Image -->
                                    </div>
                                </div>
                                <sub>* 5MB Limit Per Image</sub>
                                <div class="mediaUpload twoCol">
                                    <p><label for="upinterior"><span>Upload Your Interior Images</span></label></p>
                                    <input type="file" name="upinterior" value="upInterior" placeholder="Choose File" onchange="fileSelected();" />
                                    <div id="dropArea" ondrop="drop(event)" ondragover="allowDrop(event)"><p>or Drag &amp; Drop Here</p></div>
                                    <div id="droppedThumbs">
                                        <!-- if Dropped Image -->
                                        <figure>
                                            <img src="[droppedImage]" alt="[imageName]" width="75px" height="75px" />
                                            <figcaption class="primaryOpt">Make Primary</figcaption>
                                        </figure>
                                        <!-- if Dropped Image -->
                                        <!-- if NO Dropped Image -->
                                        <img src="[placeholderThumb]" alt="placeholder" width="75px" height="75px" />
                                        <!-- if NO Dropped Image -->
                                    </div>
                                </div>
                                <sub>* 5MB Limit Per Image</sub>
                                <div class="mediaUpload twoCol">
                                    <p><label for="uppanel"><span>Upload Your Panel Images</span></label></p>
                                    <input type="file" name="uppanel" value="upPanel" placeholder="Choose File" onchange="fileSelected();" />
                                    <div id="dropArea" ondrop="drop(event)" ondragover="allowDrop(event)"><p>or Drag &amp; Drop Here</p></div>
                                    <div id="droppedThumbs">
                                        <!-- if Dropped Image -->
                                        <figure>
                                            <img src="[droppedImage]" alt="[imageName]" width="75px" height="75px" />
                                            <figcaption class="primaryOpt">Make Primary</figcaption>
                                        </figure>
                                        <!-- if Dropped Image -->
                                        <!-- if NO Dropped Image -->
                                        <img src="[placeholderThumb]" alt="placeholder" width="75px" height="75px" />
                                        <!-- if NO Dropped Image -->
                                    </div>
                                </div>
                                <sub>* 5MB Limit Per Image</sub>
                                <button type="button" class="button goBack" id="stepThreeEdit" value="previous">Previous Page</button>
                                <button type="submit" class="button next" id="stepFourSubmit" value="aircraftImages">Specs &amp; Video</button>
                            </fieldset>
                        </article>
                    </section><!-- ./stepFour -->

                    <section id="stepFive" class="step">
                        <article class="stepContent">
                            <fieldset id="adBuildFour">
                                <header>
                                    <legend><h5>Add Your Additional Specifications &amp; Video</h5></legend>
                                </header>
                                <div class="mediaUpload">
                                    <p><label for="specsfile"><span>Upload Your Specifications File</span></label></p>
                                    <input type="file" name="specsfile" value="specsFile" placeholder="Choose File" onchange="fileSelected();" />
                                    <button type="submit" class="button" value="mediaUpload">Upload Specs</button>
                                    <div id="dropArea" ondrop="drop(event)" ondragover="allowDrop(event)"><p>or Drag &amp; Drop Here</p></div>
                                    <div id="droppedThumbs">
                                        <!-- if Dropped File -->
                                        <figure>
                                            <img src="[file]" alt="[fileName]" width="75px" height="75px" />
                                            <figcaption id="fileName" class="primary">Primary</figcaption>
                                        </figure>
                                        <figure>
                                            <img src="[file]" alt="[fileName]" width="75px" height="75px" />
                                            <figcaption class="fileName">Make Primary</figcaption>
                                        </figure>
                                        <!-- if Dropped File -->
                                        <!-- if NO Dropped File -->
                                        <img src="[placeholderThumb]" alt="placeholder" width="75px" height="75px" />
                                        <!-- if NO Dropped File -->
                                    </div>
                                    <div class="message">
                                        <p>Spec download info is provided to potential buyers.</p>
                                        <p class="title">Give Them What You Want!</p>
                                    </div>
                                    <div>
                                        <label for="downloadable">Make your specs downloadable?</label>
                                        <span>Yes</span><input type="checkbox" name="downloadable" value="downloadYes" />
                                        <sub>* it is recommended</sub>
                                    </div>
                                </div>
                                <sub>* 5MB Limit Per File</sub>
                                <div>
                                    <p class="subTitle">Add yor video from YouTube</p>
                                    <label for="youtubevid">If you have already uploaded a video of this aircraft to YouTube, paste the full YouTune video url in the texbox below.</label>
                                    <input type="text" name="youtubevid" value="uploadYoutube" placeholder="https://www.youtube.com/watch?v=s-4bPF8kWIo" />
                                    <p class="subTitle">OR</p>
                                </div>
                                <section class="relatedItems">
                                    <article id="sellCustomVideo">
                                        <p class="subTitle">Have GlobalAir.com build one of its famous One Minute Videos featuring your aircraft for only $300, like this one.</p>
                                        <div class="videoSpot">
                                            <iframe width="360" height="115" src="https://www.youtube.com/embed/KVAIrKhtYus" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        <div class="button">
                                            <label for="vidSell">Count Me In!</label> <input type="checkbox" id="vidSell" name="upsellone" value="videoSell" />
                                        </div>
                                    </article>
                                    <article id="sellPlanemail">
                                        <p>Then maximize your visibility in Planemail, our bi-monthly email broadcast that's sent to over 68,000 aviation professionals and enthusiasts!</p>
                                        <p class="subTitle">Click on the video below to learn more!</p>
                                        <div class="videoSpot">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/ztADHiA_si4" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                        <p><label for="yesplanemail">Yes, I want the best chance to sell my aircraft!</label><input type="checkbox" id="yesplanemail" name="yesplanemail" value="PlanemailSignUp" /></p>
                                        <p><label for="noplanemail">No, I'll take my chances.</label><input type="checkbox" id="noplanemail" name="noplanemail" value="PlanemailOptOut" /></p>
                                        <p>Someone from GlobalAir.com will contact you to help you select the best Planemail package for your situation.</p>
                                        <p><label for="scheduletime">When is a good time?</label><input type="datetime-local" /></p> 
                                    </article>
                                </section>
                                <button type="button" class="button goBack" id="stepFourEdit" value="previous">Previous Page</button>
                                <button type="submit" class="button next" id="stepFiveSubmit" value="aircraftSpecs">Continue</button>
                            </fieldset>
                        </article>
                    </section><!-- ./stepFive -->

                    <section id="stepSix" class="step">
                        <article class="stepContent">
                            <fieldset id="registrationTwo">
                                <header>
                                    <legend><h6>Your Name, Airport &amp; City</h6></legend>
                                </header>
                                <div class="threeCol">
                                    <p><label for="address" id="lblAddress">What's your address?</label></p>
                                    <input type="text" name="address" value="Address" id="tbAddress" placeholder="Address 1" required />
                                    <label for="address2" id="lblAddress 2"></label>
                                    <input type="text" name="address2" value="Address2" id="tbAddress2" placeholder="Apt., Suit, Bldg (optional)" required />
                                    <div class="fieldGroup">
                                        <div class="twoCol">
                                            <label for="city">City</label>
                                            <input type="text" name="city" id="city" value="City" placeholder="City" />
                                        </div>
                                        <div class="twoCol">
                                            <label for="state">State/Province</label>
                                            <select id="state" name="state">
                                                <option value="KY">Kentucky</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="fieldGroup">
                                        <div class="twoCol">
                                            <label for="country">Country</label>
                                            <select id="country" name="country">
                                                <option value="US">United States</option>
                                            </select>
                                        </div>
                                        <div class="twoCol">
                                            <label for="zip">Zip/Postal Code</label>
                                            <input type="text" name="zip" id="zip" value="Zip" placeholder="XXXXX-XX" />
                                        </div>
                                    </div>
                                    <div class="fieldGroup">
                                        <label for="phone">What is your phone number?</label>
                                        <input type="tel" name="phone" id="phone" value="phoneNumber" placeholder="+1 XXX XXX-XXXX" pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}" />
                                    </div>
                                </div>
                                <div class="threeCol">
                                    <div class="fieldGroup">
                                        <label for="email">What is your email address?</label>
                                        <input type="email" name="email" value="emailAddress" id="email" placeholder="email@youremail.com" />
                                    </div>
                                    <div class="fieldGroup">
                                        <label for="username">Your user name is your email</label>
                                        <input type="text" name="username" value="userName" id="username" placeholder="User Name" disabled />
                                    </div>
                                    <div class="fieldGroup">
                                        <label for="password">Create password</label>
                                        <input type="password" name="password" value="Password" id="password" placeholder="Password" />
                                    </div>
                                    <div class="fieldGroup">
                                        <label for="confirmpass">Confirm Password</label>
                                        <input type="password" name="confirmpassword" value="confirmPassword" id="confirmpassword" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="threeCol">
                                    <p><input type="checkbox" name="newsletters" id="newsletters" /><label for="newsletters">Sign up for Planemail and Airmail</label></p>
                                </div>
                                <button type="button" class="button goBack" id="stepFiveEdit" value="previous">Previous Page</button>
                                <button type="submit" class="button next" id="stepSixSubmit" value="registrationTwo"><!-- if FREE AD -->Post Your Ad<!-- if FREE Ad --> <!-- If first paid Ad -->Payment Details<!-- If first paid Ad --></button>
                            </fieldset>
                        </article>
                    </section><!-- ./stepSix -->
                    
                    <!-- The next step is only for first time paid ads -->
                    <section id="stepSeven" class="step">
                        <article class="stepContent">
                            <fieldset id="paymentDetails">
                                <header>
                                    <legend><p class="title">Finally, how would you like to pay for your ad</p></legend>
                                </header>
                                <div class="twoCol">
                                    <p>Credit Card  <br/><img src="#" alt="Visa, Mastercard, Discover, AMEX" /></p>
                                    <div class="fieldGroup">
                                        <label for="cardname">Name on Card</label>
                                        <input type="text" name="cardname" value="cardName" id="cardname" placeholder="Name" required />
                                    </div>
                                    <div class="fieldGroup">
                                        <label for="cardnum">Card Number</label>
                                        <input type="number" name="cardnum" value="cardNum" id="cardnum" placeholder="Card Number" required />
                                    </div>
                                    <div class="fieldGroup">
                                        <div class="twoCol">
                                            <label for="expirydate"></label>
                                            <input type="date" name="expirydate" value="expiryDate" id="expirydate" placeholder="MM/YY" required />
                                        </div>
                                        <div class="twoCol">
                                            <label for="cvv">Security Code</label>
                                            <input type="number" name="cvv" value="CVV" id="cvv" placeholder="CVV" maxlength="3" required />
                                        </div>
                                        <div class="twoCol">
                                            <label for="cardzip">Zip Code</label>
                                            <input type="number" name="cardzip" value="cardZip" id="cardzip" placeholder="Zip Code" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="twoCol">
                                    <div id="orderDetails">
                                        <header>
                                            <p class="subTitle">Details</p>
                                        </header>
                                        <div class="detail">
                                            <p class="twoCol">Piston Premium Spec Ad (Manage)</p>
                                            <p class="twoCol">$1.33/<sup>per day</sup></p>
                                        </div>
                                        <div class="detail">
                                            <p class="twoCol">One Minute Video</p>
                                            <p class="twoCol">$350.00</p>
                                        </div>
                                        <div class="detail">
                                            <p class="twoCol">Planemail Maximum Visibility</p>
                                            <p class="twoCol">We'll be in touch at 2:00PM CST on 12/01/2017</p>
                                        </div>
                                        <div class="detail">
                                            <p class="twoCol">Payment Amount (NET 30)</p>
                                            <p class="twoCol">$600.00</p>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="button goBack" id="stepSixEdit" value="previous">Previous Page</button>
                                <button type="submit" class="button next" id="paymentSubmit" value="paymentInfo">Confirmation</button>
                            </fieldset>
                        </article>
                    </section><!-- ./stepSeven #payment -->

                    <section id="finalStep" class="step">
                        <article class="stepContent">
                            <fieldset id="success">
                                <p class="alert"><a href="/">Edit your order</a></p>
                                <div class="message">
                                    <header>
                                        <legend><p class="title">Sweet Success!/p></legend>
                                    </header>
                                    <p>We review all first time ads before made live on GlobalAir.com.  Usually ads will appear within 24 hours.</p>
                                    <button type="submit" class="button" id="adproof" value="adProof">View Your Ad Proof</button>
                                </div>
                            </fieldset>
                        </article>
                    </section><!-- ./finalStep -->
                
                </article><!-- ./contentBlockOne -->
            </section><!-- ./innerContent -->

         </div><!-- ./contentWrap -->

    </div><!-- ./wrap -->

@section scripts{
    <!-- Purechat script -->
    <script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({ c: '113ad71f-256f-4f58-9510-660cff3051f5', f: true }); done = true; } }; })();</script>
}
