@import 'https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,700,700i';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/************
END Reset Styles
************/
/*****
Extend styles
*****/
.goTop, .col_two, div#sf #legend li, div#sf .popup .bx-wrapper, div#sf .popup-full .bx-wrapper {
  display: inline-block;
  margin-left: -4px;
  vertical-align: top; }

.goBottom, div#sf .popup .creds, div#sf .popup-full .creds, div#sf .popup .creds img, div#sf .popup .creds #et-bbb, div#sf .popup-full .creds img, div#sf .popup-full .creds #et-bbb, div#sf .popup section.buy, div#sf .popup-full section.buy {
  display: inline-block;
  margin-left: -4px;
  vertical-align: bottom; }

.goMiddle, div#sf #legend li span, div#sf #legend li p, div#sf .popup section.buy .qty, div#sf .popup-full section.buy .qty, div#sf .popup .seatArea span, div#sf .popup-full .seatArea span {
  display: inline-block;
  margin-top: -3px;
  vertical-align: middle; }

/************
Standard Styles
************/
.col_two {
  width: 50%;
  padding: 10px;
  border-right: #d7d7d7 1px solid; }

.col_two:last-child {
  border: none; }

.separator {
  border: 1px solid #d7d7d7; }

.topSep {
  border-top: 1px solid #d7d7d7; }

.bottomSep {
  border-bottom: 1px solid #d7d7d7; }

/************
Map Styles USE ID #sf
************/
.et_post_gallery {
  display: none; }

div#sf {
  /*g.unavailable g polygon, g.unavailable g rect{
  	fill: $secondary-style-color !important;
  }*/
  /* Special styling for WebKit/Blink */
  /* All the same stuff for Firefox */
  /* All the same stuff for IE */
  /**
  Seating Chart SVG
  **/ }
  div#sf #legend {
    margin-top: 40px; }
  div#sf #legend li {
    margin: 15px; }
  div#sf #legend li span {
    margin-right: 20px;
    padding: 5px 11px;
    border-radius: 100%;
    color: white;
    font: 700 24px "Droid Sans", Arial, sans-serif; }
  div#sf #legend li span.pink {
    background: magenta; }
  div#sf #legend li span.blue {
    background: blue; }
  div#sf #legend li span.purple {
    background: #93278f; }
  div#sf input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    width: 100%;
    /* Specific width is required for Firefox. */
    background: transparent;
    /* Otherwise white in Chrome */ }
  div#sf input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; }
  div#sf input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }
  div#sf input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent; }
  div#sf input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #4d4d4d;
    height: 26px;
    width: 10px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -10px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #4d4d4d, 0px 0px 1px #0d0d0d;
    /* Add cool effects to your sliders! */ }
  div#sf input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #4d4d4d, 0px 0px 1px #0d0d0d;
    border: 1px solid #4d4d4d;
    height: 26px;
    width: 10px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer; }
  div#sf input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #4d4d4d, 0px 0px 1px #0d0d0d;
    border: 1px solid #4d4d4d;
    height: 26px;
    width: 10px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer; }
  div#sf input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #4d4d4d, 0px 0px 1px #0d0d0d;
    background: #921e20;
    border-radius: 1.3px;
    border: 0.2px solid #010101; }
  div#sf input[type=range]:focus::-webkit-slider-runnable-track {
    background: #921e20; }
  div#sf input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #4d4d4d, 0px 0px 1px #0d0d0d;
    background: #921e20;
    border-radius: 1.3px;
    border: 0.2px solid #010101; }
  div#sf input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 10px 0;
    color: transparent; }
  div#sf input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #4d4d4d, 0px 0px 1px #0d0d0d; }
  div#sf input[type=range]:focus::-ms-fill-lower {
    background: #921e20; }
  div#sf input[type=range]::-ms-fill-upper {
    background: #921e20;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #4d4d4d, 0px 0px 1px #0d0d0d; }
  div#sf input[type=range]:focus::-ms-fill-upper {
    background: #921e20; }
  div#sf button, div#sf input[type="button"] {
    cursor: pointer;
    color: #e7e7e7;
    border: none;
    font: 14px "Droid Sans", Arial, sans-serif;
    background: #921e20;
    text-transform: uppercase;
    padding: 10px;
    margin-left: 10px;
    vertical-align: sub; }
  div#sf input[type="button"].scndBtn, div#sf button.scndBtn {
    color: #921e20;
    background: white;
    font: bold 14px "Droid Sans", Arial, sans-serif;
    padding: 10px;
    padding-bottom: 5px;
    width: 100%;
    max-width: 275px; }
  div#sf .myriad, div#sf .myriadReg, div#sf .myriadGlobal {
    font: 24px "Droid Sans", Arial, sans-serif;
    font-weight: 700;
    color: #4d4d4d;
    text-transform: uppercase; }
  div#sf .myriadGlobal {
    font: 14px "Droid Sans", Arial, sans-serif; }
  div#sf .myriadReg {
    font-weight: 400; }
  div#sf h1, div#sf h2, div#sf h3, div#sf h4, div#sf h5, div#sf .book {
    font: 62px Bookman Old Style, "Droid Serif", Times New Roman, serif;
    font-weight: 400; }
  div#sf ul, div#sf ol {
    list-style: none;
    padding: 0; }
  div#sf #filters {
    font-size: 14px;
    float: right;
    top: -260px;
    position: relative;
    width: 20%; }
  div#sf #filters div, div#sf #filters label, div#sf #filters input, div#sf #filters select {
    margin-right: 40px;
    margin-bottom: 10px;
    display: block; }
  div#sf #filters input {
    /* Firefox 1-3.6 */
    -moz-border-radius: 3px 3px 3px 3px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px; }
  div#sf #filters select {
    display: block;
    font: bold 14px "Droid Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-size: 11.2px;
    position: relative;
    padding-right: 5px;
    border: 1px solid #cccccc !important;
    /* Firefox 1-3.6 */
    -moz-border-radius: 3px 3px 3px 3px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    width: 100%; }
  div#sf g.available g {
    cursor: pointer; }
  div#sf .popup, div#sf .popup-full {
    visibility: hidden;
    font-size: 24px;
    padding: 10px;
    position: absolute;
    width: 100%;
    max-width: 650px;
    z-index: 9999;
    /*.popup-gallery, .standard-gallery{
    	@extend .goTop;
    }*/ }
    div#sf .popup #popup-galleries, div#sf .popup-full #popup-galleries {
      width: 100%;
      margin: 0 auto; }
    div#sf .popup .wrapper, div#sf .popup-full .wrapper {
      background: #e7e7e7;
      padding: 10px;
      border: white 1px solid;
      /* Firefox 1-3.6 */
      -moz-border-radius: 6px 6px 6px 6px;
      /* Safari 3-4, iOS 1-3.2, Android 1.6- */
      -webkit-border-radius: 6px 6px 6px 6px;
      border-radius: 6px 6px 6px 6px;
      -webkit-box-shadow: 0px 0px 3px 2px #cccccc;
      /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: 0px 0px 3px 2px #cccccc;
      /* Firefox 3.5 - 3.6 */
      box-shadow: 0px 0px 3px 2px #cccccc;
      /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
    div#sf .popup .popupTitle, div#sf .popup-full .popupTitle {
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
      color: #e7e7e7; }
    div#sf .popup .popupTitle small, div#sf .popup-full .popupTitle small {
      background: #921e20;
      padding: 5px 10px;
      /* Firefox 1-3.6 */
      -moz-border-radius: 6px 6px 6px 6px;
      /* Safari 3-4, iOS 1-3.2, Android 1.6- */
      -webkit-border-radius: 6px 6px 6px 6px;
      border-radius: 6px 6px 6px 6px;
      font-size: 14px; }
    div#sf .popup .bx-wrapper, div#sf .popup-full .bx-wrapper {
      margin: 0 3.33333px 10px;
      vertical-align: bottom; }
      div#sf .popup .bx-wrapper .bx-controls, div#sf .popup-full .bx-wrapper .bx-controls {
        position: relative;
        top: -25px; }
      div#sf .popup .bx-wrapper .bx-pager.bx-default-pager a, div#sf .popup-full .bx-wrapper .bx-pager.bx-default-pager a {
        background: #e7e7e7; }
      div#sf .popup .bx-wrapper .bx-pager.bx-default-pager a:hover, div#sf .popup .bx-wrapper .bx-pager.bx-default-pager a.active, div#sf .popup-full .bx-wrapper .bx-pager.bx-default-pager a:hover, div#sf .popup-full .bx-wrapper .bx-pager.bx-default-pager a.active {
        background: #FF0000; }
    div#sf .popup img, div#sf .popup-full img {
      /*width: 43%;
      margin: $spacing;*/
      border: white 1px solid;
      -webkit-box-shadow: 0px 0px 3px 0px black;
      /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: 0px 0px 3px 0px black;
      /* Firefox 3.5 - 3.6 */
      box-shadow: 0px 0px 3px 0px black;
      /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
    div#sf .popup h1, div#sf .popup h2, div#sf .popup h3, div#sf .popup h4, div#sf .popup-full h1, div#sf .popup-full h2, div#sf .popup-full h3, div#sf .popup-full h4 {
      font: 700 14px "Droid Sans", Arial, sans-serif;
      font-size: 30px;
      padding: 0; }
    div#sf .popup h3, div#sf .popup-full h3 {
      font-size: 20px; }
    div#sf .popup figure, div#sf .popup-full figure {
      margin: 0 auto; }
    div#sf .popup section + section, div#sf .popup article, div#sf .popup p a, div#sf .popup-full section + section, div#sf .popup-full article, div#sf .popup-full p a {
      text-transform: none; }
    div#sf .popup article, div#sf .popup p a, div#sf .popup-full article, div#sf .popup-full p a {
      font-size: 16px; }
    div#sf .popup article, div#sf .popup p a, div#sf .popup section, div#sf .popup-full article, div#sf .popup-full p a, div#sf .popup-full section {
      padding-bottom: 10px; }
    div#sf .popup .creds, div#sf .popup-full .creds {
      margin: 0 10px 10px 0; }
      div#sf .popup .creds img, div#sf .popup .creds #et-bbb, div#sf .popup-full .creds img, div#sf .popup-full .creds #et-bbb {
        max-width: 150px;
        border: none;
        box-shadow: none;
        margin: 0;
        position: relative; }
      div#sf .popup .creds #et-bbb img, div#sf .popup-full .creds #et-bbb img {
        max-width: 100.5px; }
    div#sf .popup section.buy .qty, div#sf .popup-full section.buy .qty {
      color: #921e20;
      font: bold 14px "Droid Sans", Arial, sans-serif;
      text-transform: uppercase;
      font-size: 17.5px;
      text-align: center;
      margin-left: 3px;
      text-indent: -10px; }
    div#sf .popup section.buy select.qty, div#sf .popup-full section.buy select.qty {
      min-width: 55px;
      color: #4d4d4d !important;
      text-indent: 0; }
    div#sf .popup article.sectionExcerpt, div#sf .popup .seatArea select, div#sf .popup-full article.sectionExcerpt, div#sf .popup-full .seatArea select {
      font: 700 14px "Droid Sans", Arial, sans-serif; }
    div#sf .popup .seatArea span, div#sf .popup-full .seatArea span {
      overflow: hidden;
      padding: 0 5px 0 0; }
    div#sf .popup .seatArea select, div#sf .popup-full .seatArea select {
      border: none;
      background: transparent;
      font-size: 18px;
      width: 69.93007%; }
    div#sf .popup .seatArea small, div#sf .popup-full .seatArea small {
      font-size: 20px; }
    div#sf .popup .btnLink, div#sf .popup-full .btnLink {
      color: #921e20;
      font: bold 14px "Droid Sans", Arial, sans-serif;
      text-transform: uppercase; }
    div#sf .popup section.prdExcerpt, div#sf .popup-full section.prdExcerpt {
      min-height: 120px; }
    div#sf .popup p, div#sf .popup a, div#sf .popup section.prdExcerpt, div#sf .popup-full p, div#sf .popup-full a, div#sf .popup-full section.prdExcerpt {
      padding: 0; }
    div#sf .popup .quantity_select, div#sf .popup-full .quantity_select {
      margin-top: 10px;
      text-indent: 0; }
  div#sf .cover {
    background-color: black;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: .5;
    z-index: 1000; }
  div#sf .popup-full {
    position: fixed;
    width: 65%;
    max-width: 1950px;
    top: 20%;
    left: 18%;
    z-index: 99999; }
    div#sf .popup-full h1, div#sf .popup-full h2, div#sf .popup-full h3, div#sf .popup-full h4 {
      margin-bottom: 10px; }
    div#sf .popup-full .wrapper {
      -webkit-box-shadow: 0px 0px 0px 0px;
      /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
      -moz-box-shadow: 0px 0px 0px 0px;
      /* Firefox 3.5 - 3.6 */
      box-shadow: 0px 0px 0px 0px;
      /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
    div#sf .popup-full button, div#sf .popup-full input[type="button"] {
      margin-bottom: 10px; }
    div#sf .popup-full section.buy {
      float: left;
      margin-right: 15px;
      padding: 2% 0; }
    div#sf .popup-full section.buy .qty {
      position: relative;
      left: 5px; }
    div#sf .popup-full .quantity_select {
      left: 0; }
    div#sf .popup-full .prdDescription h5, div#sf .popup-full .prdDescription h6 {
      font: 700 14px "Droid Sans", Arial, sans-serif;
      font-size: 22px; }
    div#sf .popup-full .prdDescription h6 {
      font-size: 18.33333px; }
    div#sf .popup-full .bottomSep {
      border: none;
      padding-bottom: 20px; }
      div#sf .popup-full .bottomSep h1 {
        padding: 10px; }
    div#sf .popup-full .topSep {
      padding-top: 20px; }
    div#sf .popup-full .prdContent {
      max-height: 108.33333px;
      overflow-y: auto;
      font-weight: 700;
      padding: 10px;
      padding-top: 20px; }

/***********
Media Queries
************/
@media only screen and (max-width: 800px) {
  div#sf #filters {
    top: -345px;
    width: 35%; } }
@media only screen and (max-width: 700px) {
  #legend, div#sf .popup #popup-galleries, div#sf .popup-full #popup-galleries {
    display: none; }

  div#sf .popup {
    position: relative;
    left: 0 !important;
    top: 0 !important;
    z-index: 1; }

  div#sf .popup-full {
    width: 100%;
    left: 0% !important; }

  div#sf .popup h1, div#sf .popup h2, div#sf .popup-full h1, div#sf .popup-full h2 {
    font-size: 22px; }

  div#sf .popup h3, div#sf .popup h4, div#sf .popup-full h3, div#sf .popup-full h4, div#sf .popup .seatArea select, div#sf .popup-full .seatArea select, div#sf .myriad, div#sf .myriadReg, div#sf .myriadGlobal, div#sf .popup-full .prdDescription h5, div#sf .popup-full .prdDescription h6 {
    font-size: 14px; }

  div#sf .popup article.sectionExcerpt, div#sf .popup .seatArea select, div#sf .popup-full article.sectionExcerpt, div#sf .popup-full .seatArea select, div#sf .popup article, div#sf .popup p a, div#sf .popup-full article, div#sf .popup-full p a {
    font-size: 13px; }

  div#sf button, div#sf input[type="button"] {
    font-size: 12px;
    padding: 5px; }

  div#sf .popup .btnLink, div#sf .popup-full .btnLink, div#sf .popup .popupTitle small, div#sf .popup-full .popupTitle small {
    font-size: 12px;
    /* Firefox 1-3.6 */
    -moz-border-radius: 0px 0px 0px 0px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px; }

  div#sf .popup section.buy img, div#sf .popup-full section.buy img {
    max-width: 42px; }

  div#sf .popup section.buy .qty, div#sf .popup-full section.buy .qty {
    font-size: 11px; }

  div#sf .popup article, div#sf .popup p a, div#sf .popup section, div#sf .popup-full article, div#sf .popup-full p a, div#sf .popup-full section {
    padding-bottom: 5px; }

  div#sf .popup section.buy, div#sf .popup-full section.buy {
    padding-bottom: 21px; }

  div#sf .popup .wrapper, div#sf .popup-full .wrapper {
    border: 1px solid #cccccc;
    /* Firefox 1-3.6 */
    -moz-border-radius: 0px 0px 0px 0px;
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 0px 0px 0px;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 0px 0px 0px;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

  div#sf .popup .popupTitle, div#sf .popup-full .popupTitle {
    margin-bottom: 4px; } }
@media only screen and (max-width: 500px) {
  div#sf .popup {
    display: block !important;
    visibility: visible !important; }

  div#sf .popup h1, div#sf .popup h2, div#sf .popup-full h1, div#sf .popup-full h2 {
    font-size: 18px; }

  div#sf #filters {
    top: 0;
    width: 100%;
    float: none; } }
