@charset "utf-8";
/* CSS Document */

/* Tooltip */

.tip{ /* This is any element that has a tooltip attached too it */
	position:relative !important;
	display:inline-block;
}

.tip > .tooltip{ /* Used to hide the tooltip */
	display:none;
}

.tip:hover > .tooltip{ /* This shows the tooltip once an element with the .tip class is hovered over */
	display:block;
}

.tooltip{ /* The styling on the tooltip */
    background: #CC0000; /* old browsers */
	background: rgba(204,0,0,0.85); /* For IE9 */
	background: -moz-linear-gradient(top, rgba(204,0,0,0.85) 0%, rgba(153,0,0,0.85) 100%); /* firefox */
	background: linear-gradient(top, rgba(204,0,0,0.85) 0%, rgba(153,0,0,0.85) 100%); /* future browsers */
	-pie-background: linear-gradient(top, rgba(204,0,0,0.85) 0%, rgba(153,0,0,0.85) 100%); /* pie for less than ie9 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,0,0,0.85)), color-stop(100%,rgba(153,0,0,0.85))); /* webkit */
	box-shadow: 0 0 6px 1px #666666;
	-moz-box-shadow: 0 0 6px 1px #666666;
	-webkit-box-shadow: 0 0 6px 1px #666666;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border:solid #363636;
    bottom: 26px;
    color: #e7e7e7;
	min-width:200px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 10;
	}
	
.tooltip:before{  /* Creates the arrow for the tooltip */
	border-color: #333333 transparent transparent transparent;
  	border-style: solid;
  	border-width: 10px;
  	height:0px;
  	width:0px;
  	position:absolute;
  	right:5px;
  	bottom:-20px;
  	display:block;
  	content:"\00a0";
}