<section class="imgPrev">
	<a href="#"><img src="images/envato_4_small.jpg" alt=""></a>
	<div class="imgFull">
		<img src="images/envato_4_large.jpg" alt="">
		<span class="imgCap">Here's an image caption<br><small>You can add whatever you want here.</small></span>
	</div>
</section>
