<form id="select-style"><!-- This is necessary to style select -->
	<select>
        <option value="choose" selected disabled>Choose One</option>
        <option value="opt1">Option 1</option>
        <option value="opt2">Option 2</option>
	</select>
</form>